<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <currency>
            <currency_converter>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"></api_key>
                <timeout>100</timeout>
            </currency_converter>
            <open_rates>
                <timeout>100</timeout>
            </open_rates>
            <currency_layer>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"></api_key>
                <timeout>100</timeout>
            </currency_layer>
        </currency>
    </default>
</config>