<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Directory\Model\Currency\Import\Config">
        <arguments>
            <argument name="servicesConfig" xsi:type="array">
                <item name="freeCurrencyConverter" xsi:type="array">
                    <item name="label" xsi:type="string">The Free Currency Converter API (SOZO)</item>
                    <item name="class" xsi:type="string">
                        Sozo\CurrencyConversionExtended\Model\Currency\Import\FreeCurrencyConverterApi
                    </item>
                </item>
                <item name="openRates" xsi:type="array">
                    <item name="label" xsi:type="string">OpenRates.io</item>
                    <item name="class" xsi:type="string">
                        Sozo\CurrencyConversionExtended\Model\Currency\Import\OpenRates
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
